<article class="  push">
  <h3 class="p-0 py-3 m-0"><a href="{{include.data.url}}">{{include.data.title}}</a></h3>
  <p>{{include.data.desc}}</p>
</article>

<p class="text-secondary btn-sm bg-warning">
  <i> Written by <strong class="text-dark fw-light"> {{include.data.author}}</strong> </i>
  <br>
  <i class="text-dark"> On: <strong class="text-dark fw-light"> {{include.data.written-on}}</strong> </i>
</p>
<p>
  <a href="{{include.data.url}} " class="btn btn-success">READ ARTICLE</a>
</p>
</div>