<!-- Contact Section -->
<section id="contact" class="contact section mt-5">
  <!-- Section Title -->
  <div class="container mt-5" data-aos="fade-up">
    <h2 class="my-5 text-center fw-bold display-1">Contact us</h2>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item" data-aos="fade">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Kampala</p>
              <p>Uganda</p>
            </div>

            <h1 class="text-center my-5">
              <a
                href="https://www.google.com/maps/d/u/0/viewer?ll=0.4814340830404576%2C32.64129475339506&z=11&mid=1vn5oPJ5DxWVfxekPhRbYbdRnZ6sVuPOn"
                class="btn btn-lg btn-success">
                See Map of all locations <i class="bi bi-geo-fill"></i>
              </a>
            </h1>
          </div>
          <!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+256 (0) 200905793</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>ugline@kidsclubkampala.org</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>Monday - Friday</p>
              <p>8:30AM - 4:00PM</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>

      <div class="col-lg-6">
        <form id="contact-form" class="php-email-form" data-aos="fade-up">
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                required="" />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                required="" />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required="" />
            </div>

            <div class="col-md-12">
              <textarea
                class="form-control"
                name="message"
                rows="6"
                placeholder="Message"
                required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>

              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- /Contact Section -->

<script type="text/javascript">
  document
    .getElementById("contact-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      // Display loading message
      document.querySelector(".loading").style.display = "block";
      document.querySelector(".error-message").style.display = "none";
      document.querySelector(".sent-message").style.display = "none";

      // Get the form data
      var templateParams = {
        from_name: document.getElementsByName("name")[0].value,
        from_email: document.getElementsByName("email")[0].value,
        subject: document.getElementsByName("subject")[0].value,
        message: document.getElementsByName("message")[0].value,
      };

      // Send the email
      emailjs.send("service_4vizpnc", "template_xb6tyky", templateParams).then(
        function (response) {
          document.querySelector(".loading").style.display = "none";
          document.querySelector(".sent-message").style.display = "block";
        },
        function (error) {
          document.querySelector(".loading").style.display = "none";
          document.querySelector(".error-message").style.display = "block";
          document.querySelector(".error-message").innerHTML =
            "Failed to send email. Please try again later.";
        }
      );
    });
</script>
