<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/logo.jpg" alt="" />
      <h4 class="sitename">Kids Club Kampala-Uganda</h4>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="/" class="active">Home<br /></a>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Programmes</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Media</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li><a href="/gallery">Photo Gallery</a></li>
            <li class="dropdown">
              <a
                ><span>Documents</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="/newsletters">Newsletters</a></li>
                <li><a href="/proposals">Proposals</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted flex-md-shrink-0" href="/give"
      >Give <i class="bi bi-dollar"></i
    ></a>
  </div>
</header>
