<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | Kids Club Kampala</title>
    <meta
      name="description"
      content="{{ page.description | default: site.description }}" />

    <!-- Favicons -->
    <link href="{{ site.baseurl }}/assets/img/favicon.png" rel="icon" />
    <link
      href="{{ site.baseurl }}/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap"
      rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Barriecito&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap"
      rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link
      href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/vendor/aos/aos.css"
      rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  </head>
</html>
