<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{page.meta}}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

    <link
      href="{{site.baseurl}}/assets/css/bootstrap.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link
      rel="stylesheet"
      href="{{site.baseurl}}/assets/bootstrap-icons/fonts/bootstrap-icons.woff" />
    <link
      rel="stylesheet"
      href="{{site.baseurl}}/assets/bootstrap-icons/fonts/bootstrap-icons.woff2" />

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap"
      rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap"
      rel="stylesheet" />

    <title>Bigezo</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
  </head>
  <body class="body m-0 p-0">
    {%include nav.html%} {{content}} {%include footer.html %}
  </body>
</html>
